$primary-color : hsl(246, 80%, 60%);
$Light-red: hsl(15, 100%, 70%);
$Soft-blue : hsl(195, 74%, 62%);
$Light-red : hsl(348, 100%, 68%);
$Lime-green : hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$Soft-orange : hsl(43, 84%, 65%);

$v-dark-blue : hsl(226, 43%, 10%);
$dark-blue : hsl(235, 46%, 20%);
$dsat-blue : hsl(235, 45%, 61%);
$pale-blue : hsl(236, 100%, 87%);

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#main-content{
    
}

.avatar-img{
    max-width: 5rem;
    max-height: 5rem;
    border: 3px solid white;
    border-radius: 20rem;
}

#side-card{

}